{% extends "front/layout.twig" %}

{% block content %}
    <style>
    .row_info {
        display: none;
    }
    </style>

    <div class="container contact-us-body">
        <p>
            <h3>Vous pouvez nous contacter par téléphone :</h3>
            <a href="tel: 002120000000">002120000000</a>
        </p>
        <p>
            <h3>Ou par e-mail:</h3>
            <a href="mailto: …..@agendelle.com">…..@agendelle.com</a>
        </p>
        <p>
            <h3>Ou via nos réseau sociaux @agendelle</h3>
            <a href="https://www.instagram.com/agendelle">Instagram </a>|
            <a href="https://www.facebook.com/agendelle">Facebook</a>
        </p>

    </div>
{% endblock %}  
            