{% extends "front/layout.twig" %}

{% block content %}
    <style>
    .row_info {
        display: none;
    }
    </style>

    <div class="container contact-us-container">
        <div class="contact-us-head">
            <h2>Contactez-nous</h2>
        </div>
        <div class="contact-us-body">
            <p>
                <h4>Vous pouvez nous contacter par téléphone :</h4>
                <a href="tel: 002120000000">002120000000</a>
            </p>
            <p>
                <h4>Ou par e-mail:</h4>
                <a href="mailto: …..@agendelle.com">…..@agendelle.com</a>
            </p>
            <p>
                <h4>Ou via nos réseau sociaux @agendelle</h4>
                <a href="https://www.instagram.com/agendelle">Instagram </a>|
                <a href="https://www.facebook.com/agendelle">Facebook</a>
            </p>
        </div>
    </div>
{% endblock %}  
            