{% extends "front/layout.twig" %}

{% block content %}
    <style>
    .row_info {
        display: none;
    }
    </style>

    <div class="container return-policies-body">
        <p>Retour accepté dans les 7 jours suivant la réception de votre commande en retournant les produits dans leurs emballages d’origine, non ouvert et non modifié. (Frais de retour à la charge du client).</p>
        <p>Les produits personnalisés comportant le nom et prénom de nos clients ne peuvent pas faire l’objet d’un retour.</p>
        <p>En cas de retour, le remboursement se fait par un bon d’achat pour une future commande.</p>
    </div>
{% endblock %}  
            