{% extends "front/layout.twig" %}

{% block content %}
    <style>
    .row_info {
        display: none;
    }
    </style>

    <div class="container shipping-policies-body">
        <h3>Paiement à la livraison</h3>
        <p>Agendelle opère au Maroc avec une politique de «paiement à la livraison», ou ce qu'on appelle le paiement à la réception. Quant à l'extérieur du Maroc, nous envoyons la commande après avoir atteint un montant de 1000 dh
        Nous envoyons votre commande à l'adresse exacte que vous avez envoyée.  Une fois vous recevez votre commande et vous examinez le produit en votre possession, vous pouvez procéder au paiement.
        Parce que chaque client est unique, nous accordons un suivi particulier à chacun de nos clients, du conseil jusqu’à la réception de la commande, n’hésitez pas à nous contacter via nos réseaux sociaux ou via mail</p>


        <h3>Le délai de livraison :</h3>
        <p>Vu le caractère personnel du planner avec la possibilité de personnalisation, à cet effet, nous estimons que le délai de livraison  varie entre 4-7 (jours ouvrables) après la réception de la commande au niveau national et 14 jours pour les commandes à destination de l’étranger du Maroc</p> 
        <h3>Les frais de livraison :</h3>
        <ul style="margin-top: 0;">
            <li>Les frais de livraison au Maroc  est de 35 dirhams au Maroc</li>
            <li>Livraison gratuite sur le deuxième produit acheté pour une seule expédition</li>
            <li>La livraison est gratuite au Maroc lorsque vos achats atteignent 499 dirhams ou plus</li>
            <li>Les frais de port en dehors du Maroc varient selon le pays et le poids de la commande</li>
        </ul>
        <p style="margin-top: 10px;">Pour plus d'informations, veuillez nous contacter via nos réseaux sociaux ou via notre mail</p>
    </div>
{% endblock %}  
            