{% extends "front/layout.twig" %}

{% block content %}

<style>
  .row_info {
      display: none;
  }
</style>

<div id="u_column_19" class="col-md-12 u_column">
  <div style="padding: 0px;background-color:#ffffff;border-top: 0px solid #f6f6f6;border-left: 0px solid #CCC;border-right: 0px solid #CCC;border-bottom: 0px solid #CCC;">

  <div id="u_content_text_13" class="u_content_text" style="overflow-wrap: break-word; text-align: center;">
      <p style="text-align: center; line-height: 140%; font-size: 14px;" class="thank-you-head text-brittany">
        <span style="line-height: 19.6px; font-size: 14px;">
          <span style="font-size: 44px; line-height: 61.6px;">
            <strong>
              <span style="line-height: 61.6px; font-size: 44px;">Merci pour votre commande!</span>
            </strong>
          </span>
        </span>
      </p>
      <p style="text-align: center; line-height: 140%; font-size: 14px;" class="thank-you-body">
        <span style="line-height: 19.6px; font-size: 14px;">
          <span style="font-size: 18px; line-height: 28px;" class="text-forum">
            L'équipe Agendelle, prendra contact avec vous pour confirmation définitive et pour vous communiquer toutes les<br>
            nouvelles concernant votre commande.<br>
            Important: Notre équipe, ainsi que la société de livraison vous contacterons avant de procéder à la livraison <br>
            définitive de votre commande, à cet effet, veuillez répondre aux éventuels appels pour éviter une livraison tardive.
          </span>
        </span>
      </p>
    </div>
  

  <style>
a.gobackHome {
    background: #de5081;
    display: inline-block;
    padding: 15px 36px;
    font-size: 16px;
    margin: 0 auto;
    float: none;
    color: white;
    font-weight: bold;
    border-radius: 3px;
}

    
  </style>
                                   
  </div>

  </div>
</div>


{% endblock %}  
            