

<div class="row_info">
   <div class="row">

    <!-- Grid column -->
    <div class="col-md-4">

      <i class="fas fa-sliders-h"></i>
      <h5 class="font-weight-bold my-4 feature-title">Personalisation du planner</h5>
      <p class="grey-text mb-md-0 mb-5">Voir le descriptif du produit ou contacter-nous pour en savoir plus …
      </p>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-4">

      <i class="fas fa-money-bill-wave"></i>
      <h5 class="font-weight-bold my-4 feature-title">Paiement à la livraison </h5>
      <p class="grey-text mb-md-0 mb-5">En espèces</p>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-4">

      <i class="fas fa-truck"></i>
      <h5 class="font-weight-bold my-4 feature-title">Livraison partout dans le Maroc</h5>
      <p class="grey-text mb-0">Nous assurons un service de livraison 4-7 jours au Maroc à Domicile/ Travail ou à l’adresse de livraison de votre choix. 
      </p>

    </div>
    <!-- Grid column -->

  </div>


</div>



